<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="template :: tw_head">
    <title th:replace="${title}">Nodes</title>
</head>
<body th:insert="template :: tw_body">
    <main role="main" th:insert="template :: tw_main">
        <div class="container" th:replace="template :: tw_main_app">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12">
                    <h2>All Variants:</h2>
                    <hr/>
                    <ul th:each="item : ${all}">
                        <li th:text="${item.name}" />
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>