<!doctype html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="layoutMain :: tw-head">
</head>
<body th:include="layoutMain :: tw-body">
    <div class="container" th:replace="template :: tw_main_app">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>All Portinfos:</h2>
                <hr/>
                <ul th:each="item : ${all}">
                    <li th:text="${item.name}" />
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
