<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Learn Neo4j</h1>
<h3>Nodes:</h3>
<ul>
    <li><a href="/node/category/all">category</a></li>
    <li><a href="/node/license/all">license</a></li>
    <li><a href="/node/maintainer/all">mantainer</a></li>
    <li><a href="/node/platform/all">platform</a></li>
    <li><a href="/node/port/all">port</a></li>
    <li><a href="/node/variant/all">variant</a></li>
</ul>
<h3>Terminal:</h3>
<ul>
    <li><a href="/terminal/port/menu">menu</a></li>
    <li><a href="/terminal/port/available/all">get all available</a></li>
</ul>
</body>
</html>