<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
     -->
    <title>Learn Neo4j!</title>
</head>
<body>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Learn Neo4j!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Nodes:</h2>
                <ul>
                    <li><a href="/node/category/all">category</a></li>
                    <li><a href="/node/license/all">license</a></li>
                    <li><a href="/node/maintainer/all">mantainer</a></li>
                    <li><a href="/node/platform/all">platform</a></li>
                    <li><a href="/node/port/all">port</a></li>
                    <li><a href="/node/variant/all">variant</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Terminal:</h2>
                <ul>
                    <li><a href="/terminal/port/menu">menu</a></li>
                    <li><a href="/terminal/port/available/all">get all available</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</main>



<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!--
<script data-main="/js/app" src="/webjars/jquery/jquery.min.js"></script>
<script data-main="/js/app" src="/webjars/popper.js/popper.js"></script>
<script data-main="/js/app" src="/webjars/bootstrap/popper.min.js"></script>
-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>