<!doctype html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="tw-head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel='stylesheet' th:href="@{'/css/my.css'}">
    <!--  social networked -->
    <meta name="revisit-after" content="2 days" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@port80guru" th:attr="content=${pageContent.twitterCardSite}"  />
    <meta name="twitter:creator" content="@port80guru" th:attr="content=${pageContent.twitterCardCreator}"  />
    <meta name="twitter:image" content="https://btw17-kandidaten.herokuapp.com/img/reichstag.jpg" />
    <meta name="twitter:title" content="#btw17 Direktkandidaten" th:attr="content=${pageContent.pageTitle}" />
    <meta name="twitter:description" content="Bundestagswahl 2017 - Alle 2559 Direktkandidaten" />
    <meta name="twitter:image:alt" content="Deutscher Bundestag in Berlin Tiergarten" />
    <meta property="fb:app_id" content="1721279777913278" />
    <meta property="og:type" content="website" />
    <meta property="og:url" th:attr="content=@{|https://btw17-kandidaten.herokuapp.com${pageContent.pagerUrl}|}" />
    <meta property="og:title" th:attr="content=${pageContent.pageTitle}" />
    <meta property="og:description" content="Bundestagswahl 2017 - Alle 2559 Direktkandidaten" />
    <meta property="og:image" content="https://btw17-kandidaten.herokuapp.com/img/reichstag.jpg" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:image:alt" content="Deutscher Bundestag in Berlin Tiergarten" />
    <meta name="msvalidate.01" content="52F1EDC0244BCDCF5C95E402E9E3E49B" />
    <meta name="google-site-verification" content="3eksTC3Rvao6fLvSUwoRECBwd9Gdg4F51IhOE3DD-T8" />
    <title th:text="${pageContent.pageTitle}">btw17 Kandidaten</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.less" th:href="@{/css/bootstrap.less}" media="all" />
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="webjars/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" mediaType="text/css" media="all" rel="stylesheet" />
    <link href="map-icons/css/map-icons.min.css" th:href="@{/map-icons/css/map-icons.min.css}" rel="stylesheet"/>
    <link href="css/my.css" th:href="@{/css/my.css}" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="DCTERMS.title" content="Bundestagswahl 2017 - Alle 2559 Direktkandidaten" />
    <meta name="description" content="Bundestagswahl 2017 - Alle 2559 Direktkandidaten" />
    <meta name="DCTERMS.description" content="Bundestagswahl 2017 - Alle 2559 Direktkandidaten" />
    <meta name="copyright" content="2017 Thomas Wöhlke" />
    <meta name="DCTERMS.rights" content="2017 Thomas Wöhlke" />
    <link rev="made" href="mailto:thomas.woehlke@gmail.com" />
    <meta http-equiv="reply-to" content="thomas.woehlke@gmail.com" />
    <meta name="author" content="Thomas Wöhlke" />
    <meta name="DCTERMS.creator" content="Thomas Wöhlke" />
    <meta name="DCTERMS.publisher" content="Thomas Wöhlke" />
    <meta name="date" content="2017-09-04T06:45:27+00:00" />
    <meta name="DCTERMS.date" content="2017-09-04T06:45:27+00:00" />
    <meta name="robots" content="index,follow" />
    <meta name="ICBM" content="52.5248355, 13.3470349" />
    <meta name="geo.position" content="52.5248355;13.3470349" />
    <meta name="geo.region" content="DE-BE" />
    <meta name="geo.placename" content="Berlin" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/tomcat/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/tomcat/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/tomcat/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/tomcat/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/tomcat/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/tomcat/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/tomcat/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/tomcat/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/tomcat/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/tomcat/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/tomcat/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/tomcat/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/tomcat/favicon-16x16.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
      window.cookieconsent_options = {"message":"btw17-kandidaten.herokuapp.com verwendet Cookies für Funktions-, Komfort- und Statistikzwecke. Wenn Sie auf der Seite weitersurfen, akzeptieren Sie die Cookie-Verwendung.","dismiss":"Schließen","learnMore":"Weitere Informationen","link":"https://btw17-kandidaten.herokuapp.com/datenschutz","theme":"light-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
</head>
<body th:fragment="tw-body" id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:fragment="tw-seo-fb">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1721279777913278',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div id="page">
    <header th:fragment="tw-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main class="" role="main" th:fragment="tw_main">

        <div class="jumbotron jumbotron-header tw-jumbotron-header01">
            <div class="container">
                <h1 class="display-3">Learn Neo4j!
                  <small>First Use Case for a Graph Database</small>
                </h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
         </div>

        <div class="container" th:fragment="tw_main_app">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Nodes:</h2>
                    <p><ul>
                        <li><a th:href="@{'/graph/category/all'}">category</a></li>
                        <li><a th:href="@{'/graph/license/all'}">license</a></li>
                        <li><a th:href="@{'/graph/maintainer/all'}">mantainer</a></li>
                        <li><a th:href="@{'/graph/platform/all'}">platform</a></li>
                        <li><a th:href="@{'/graph/port/all'}">port</a></li>
                        <li><a th:href="@{'/graph/variant/all'}">variant</a></li>
                    </ul></p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Terminal:</h2>
                    <p><ul>
                        <li><a th:href="@{'/terminal/port/available/all'}">get all available</a></li>
                    </ul></p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <hr>
        </div>
    </main>

    <footer class="footer" >
        <div class="container">
            <span class="text-muted">&copy; Company 2017-2018</span>
        </div>
    </footer>

    <!-- Google Maps -->
    <script th:attr="src=@{|https://maps.googleapis.com/maps/api/js?callback=initMap&amp;key=${pageContent.googleMapsApiKey}|}" ></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/webjars/jquery/2.2.4/jquery.min.js" th:attr="src=@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:attr="src=@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="/js/lightbox.js" th:attr="src=@{/js/lightbox.js}"></script>
    <script src="/js/jquery.viewportchecker.min.js" th:attr="src=@{/js/jquery.viewportchecker.min.js}"></script>
    <script src="/js/viewportSize-min.js" th:attr="src=@{/js/viewportSize-min.js}"></script>
    <!-- Map Icons -->
    <script src="/map-icons/js/map-icons.min.js" th:attr="src=@{/map-icons/js/map-icons.min.js}"></script>
    <!-- my own JavaScript -->
    <script src="/js/my.js" th:attr="src=@{/js/my.js}"></script>
    <script>
      var gaProperty = 'UA-17174370-11';
      var disableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(disableStr + '=true') > -1) {
        window[disableStr] = true;
      }
      function gaOptout() {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
      }

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17174370-11', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--
    <script data-main="/js/app" src="/webjars/jquery/jquery.min.js"></script>
    <script data-main="/js/app" src="/webjars/popper.js/popper.js"></script>
    <script data-main="/js/app" src="/webjars/bootstrap/popper.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    -->
</div>
</body>
</html>
